module.exports = {
    API_USER: '',
    API_PASSWORD: '',
    DID: '',
    // a randomly generated string that will be used to authenticate incoming SMS messages
    // this should be a long, random string since its a url parameter it cannot contain special characters
    // this string should be kept secret
    // to generate a random string, run the following command in a terminal:
    // openssl rand -hex 32 
    API_KEY: ''
}
